<% provide(:title, t(".homepage")) %>

<% if current_user.admin? %>
  <%= render Admin::DashBoardComponent.new %>
<% else %>
  <h1 class="d-flex justify-content-center"><%= t ".welcome" %></h1>

  <%= render(HomeComponent.new) %>
<% end %>
