<%= content_tag :h1, @course.name %>
<% if can? :update, @course %>
  <%= render Admin::Page::Courses::ShowComponent.new course: @course %>
<% else %>
  <div class="d-flex justify-content-center">
    <%= render CourseMapComponent.new(lessons: @course.lessons) %>
  </div>
<% end %>
